<%= semantic_form_for [:admin, @style], :html => {:multipart => true} do |f| %>
  <%= f.inputs :name, :image%>

  <% if !@style.image.blank? %>
  	<h3>Image</h3>
  	<%= content_tag :div, :class => "images-control"  do %>
		<%= image_tag @style.image.url(:thumb7) %>
  	<% end %>
  <% end %>

  <%= f.actions%>
<% end %>
