<div class="wrapper">
	<header class="b-header">
		
		<%= logo_link %>
		<div class="col-1-2">
			<nav class="about-menu">
				<%= nav_link "Качество", "/quality" %>
				<%= nav_link "Доставка и оплата", "/shipping" %>
				<%= nav_link "Вопрос-ответ", "/faq" %>
				<%= nav_link "Контакты", "/contacts" %>
				<%= nav_link "О нас", "/about" %>
				<%= nav_link "Блог", "/posts" %>
			</nav>
			<nav class="products-menu">
				<% @types.each do |s| %>
					<%= nav_link s.name, type_path(s) %>
				<% end %>
			</nav>
		</div>
		<div class="col-1-4">
			<b class="phone">096 000-38-92</b>
		</div>
	</header>