<%= semantic_form_for @order, :validate => true, :url => { :action => "create" } do |f| %>
	<%= f.inputs name: "Контактные данные" do %>
	  <%= f.input :name, :label => "Ваше имя", :validate => { :presence => true }, :required => false %>
	  <%= f.input :phone, :label => "Телефон", :validate => { :presence => true }, :required => false  %>
	  <%= f.input :email, :label => "Имейл" %>
	  <%= f.input :product_id, as: 'hidden', value: params[:product_id] %>
	  <p class="under-form">Все указанные данные, используются только для уточнения заказа и не будут разглашаться третьим лицам.</p>
  <% end %>
	<%= f.inputs name: "Указать размеры", class: "sizes", data: {later: "Указать размеры позже"} do %>
	  <%= f.semantic_fields_for :dimensions, @order.dimensions do |ff| %>
	  	<%= ff.input :m_1, label:  "Обхват груди", :required => false, input_html: {data: {number: "1", instructions: "Измерьте длина вокруг самой полной части бюста."}} %>
	  	<%= ff.input :m_2, label:  "Обхват талии", :required => false, input_html: {data: {number: "2", instructions: "Измерьте длина вокруг самой тонкой части фигуры."}} %>
	  	<%= ff.input :m_3, label:  "Обхват бедер", :required => false, input_html: {data: {number: "3"}} %>
	  	<%= ff.input :m_4, label:  "Обхват верхней части бюста", :required => false, input_html: {data: {number: "4"}} %>
	  	<%= ff.input :m_5, label:  "Обхват нижней части бюста", :required => false, input_html: {data: {number: "5"}} %>
	  	<%= ff.input :m_6, label:  "Расстояние между центрами груди", :required => false, input_html: {data: {number: "6"}} %>
	  	<%= ff.input :m_7, label:  "Расстояние от плеча к центру груди", :required => false, input_html: {data: {number: "7"}} %>
	  	<%= ff.input :m_8, label:  "Расстояние от плеча до талии", :required => false, input_html: {data: {number: "8"}} %>
	  	<%= ff.input :m_9, label:  "Расстояние от талии до пола", :required => false, input_html: {data: {number: "9"}} %>
	  	<%= ff.input :m_10, label: "Обхват рукова", :required => false, input_html: {data: {number: "10"}} %>
	  	<%= ff.input :m_11, label: "Расстояние между плечами", :required => false, input_html: {data: {number: "11"}} %>
	  	<%= ff.input :m_12, label: "Обхват шеи", :required => false, input_html: {data: {number: "12"}} %>
	  	<%= ff.input :m_13, label: "Длина рукава", :required => false, input_html: {data: {number: "13"}} %>
	  	<%= ff.input :m_14, label: "Обхват бицепса", :required => false, input_html: {data: {number: "14"}} %>
	  	<%= ff.input :m_15, label: "Длина верхней части руки", :required => false, input_html: {data: {number: "15"}} %>
	  	<%= ff.input :m_16, label: "Длина нижней части руки", :required => false, input_html: {data: {number: "16"}} %>
	  	<%= ff.input :m_17, label: "Расстояние от плеча до пола", :required => false, input_html: {data: {number: "17"}} %>
	  	<%= ff.input :m_18, label: "Высота каблука", :required => false, input_html: {data: {number: "18"}} %>
	  <% end %>
	  <%= content_tag :div, "", class: "measure-instractions" do%>
	  	<!-- <div class="text">
		  	<h4>Обхват шеи</h4>
		  	<p>Все указанные данные, используются только для уточнения заказа и не будут разглашаться третьим лицам.</p>
	  	</div> -->
	  <% end %>
  <% end %>
  <%= content_tag :div, class: "buy-wrapper" do %>
	  <%= f.actions do %>
		  <%= f.action :submit, label: "Заказать" %>
	  <% end %>
  <% end %>
<% end %>
