</div>
<div class="b-popup f-q5 hidden">
	<div class="close">×</div>
		<div class="video-frame"><iframe src="http://vk.com/video_ext.php?oid=-48549853&id=164940278&hash=2fde509687c138f9&sd" width="420" height="315" frameborder="0"></iframe></div>
</div>
<article class="p-quality">
	<div class="wrapper">
		<section class="col-7-12 mar-l-25">
			<header>
				<h1>Качество наших платьев</h1>
				<p>Makemydress — качественные свадебные и вечерние платья сделанные по вашим или стандартным размерам на лучшей фабрике Китая. Технология изготовления позволяет шить любые платья по фотографиям или вашим эскизам. Вся отделка платьев изготовляется вручную из бисера и кристаллов Сваровски. </p>
			</header>
		</section>
	</div>
	<section class="b-slider fotorama" data-width="100%" data-background="#f8f8f8" data-minWidth="940px" data-cropToFit="true">
		<div data-img="assets/pages/quality/3.jpg">
			<p class="original">Оригинальное платье</p>
			<p class="replica">Наша реплика</p>
		</div>
		<div data-img="assets/pages/quality/4.jpg">
			<p class="original">Оригинальное платье</p>
			<p class="replica">Наша реплика</p>
		</div>
		<div data-img="assets/pages/quality/5.jpg">
			<p class="original">Оригинальное платье</p>
			<p class="replica">Наша реплика</p>
		</div>
		<div data-img="assets/pages/quality/6.jpg">
			<p class="original">Оригинальное платье</p>
			<p class="replica">Наша реплика</p>
		</div>
		<div data-img="assets/pages/quality/7.jpg">
			<p class="original">Оригинальное платье</p>
			<p class="replica">Наша реплика</p>
		</div>
		<div data-img="assets/pages/quality/8.jpg">
			<p class="original">Оригинальное платье</p>
			<p class="replica">Наша реплика</p>
		</div>
		<div data-img="assets/pages/quality/9.jpg">
			<p class="original">Оригинальное платье</p>
			<p class="replica">Наша реплика</p>
		</div>
		<div data-img="assets/pages/quality/1.jpg">
			<p class="original">Оригинальное платье</p>
			<p class="replica">Наша реплика</p>
		</div>
		<div data-img="assets/pages/quality/2.jpg">
			<p class="original">Оригинальное платье</p>
			<p class="replica">Наша реплика</p>
		</div>
	</section>
	<div class="wrapper">
		<section class="mar-l-20 s-factory" >
			<h4>Фабрика, где делают наши платья</h4>
			<div class="col-2-3">				
				<p>Фабрика, с которой мы сотрудничаем, изготавливает платья с 1999 года. Высокое качество ее продукции подтверждено международной организацией SGS. Все платья, после изготовления проходят внутренний контроль качества сотрудниками компании, и только после этого отправляется нам.</p>
			</div>
			<div class="col-1-3">
				<div class="video video-quality" data-slider="f-q5">
					<%= image_tag "pages/quality/video-factory.jpg", class: "framed-image" %>
				</div>
			</div>
		</section>
		<section class="mar-l-20 s-ribbon">
			<div class="col-1-2">
				<h4>Силиконовая лента в области груди</h4>
				<p>Каждое платье изготовляется с силиконовой лентой в области груди для того чтобы оно не сползло в самый неподходящий момент.</p>
				<div class="col-2-5">
					<%= image_tag "pages/quality/ribbon-no.jpg", class: "framed-image" %>
					<small>Платье без силиконовой ленты</small>
				</div>
				<div class="col-2-5">
					<%= image_tag "pages/quality/ribbon-with.jpg", class: "framed-image" %>
					<small>Платье c <span class="pink">силиконовой лентой</span></small>
				</div>
			</div>
			<div class="col-1-2">
				<h4>Внутренняя застежка</h4>
				<p>Внутри каждого платья вшита широкая застежка, которая надежно поддерживает и подчеркивает грудь.</p>
				<div class="col-2-5">
					<%= image_tag "pages/quality/clasp-normal.jpg", class: "framed-image" %>
					<small>Обычная узкая застежка</small>
				</div>
				<div class="col-2-5">
					<%= image_tag "pages/quality/clasp-wide.jpg", class: "framed-image" %>
					<small>Широкая застежка</small>
				</div>
			</div>
		</section>
		<section class="mar-l-20 s-korset">
			<div class="col-7-12">
				<h4>Корсет</h4>
				<p>В каждый корсет, в зависимости от модели, вшивается до 11 косточек. За счет этого талия становится тоньше, а&nbsp;на платье не образуется не нужных складок.</p>
			</div>
			<div style="clear: both"></div>
			<div class="col-1-2">
				<div class="col-2-5">
					<%= image_tag "pages/quality/bones-9.jpg", class: "framed-image" %>
				</div>
				<div class="col-3-5">
					<%= image_tag "pages/quality/bones-9b.jpg", class: "framed-image" %>
				</div>
				<small>Обычное платье с <span class="pink">9 косточками</span></small>
			</div>
			<div class="col-1-2">
				<div class="col-2-5">
					<%= image_tag "pages/quality/bones-11.jpg", class: "framed-image" %>
				</div>
				<div class="col-3-5">
					<%= image_tag "pages/quality/bones-11b.jpg", class: "framed-image" %>
				</div>
				<small>В наших платьях используется до <span class="pink">11 косточек</span></small>
			</div>
		</section>
		<section class="mar-l-20 s-clasp">
			<div class="col-7-12">
				<h4>Внутренняя застежка</h4>
				<p>При заказе платья невеста сама выбирает тип застежки: шнуровка или молния. Если невеста поправилась или похудела, пока шилось платье, шнуровка поможет компенсировать все изменения, чтобы платье село идеально. Молния бывает трех типов — обыкновенная, потайная и украшенная пуговицами.</p>
			</div>
			<div style="clear: both"></div>
			<div class="col-1-5">
				<%= image_tag "pages/quality/clasp-1.jpg", class: "framed-image" %>
				<small>Шнуровка</small>
			</div>
			<div class="col-1-5">
				<%= image_tag "pages/quality/clasp-2.jpg", class: "framed-image" %>
				<small>Обыкновенная<br/>молния</small>
			</div>
			<div class="col-1-5">
				<%= image_tag "pages/quality/clasp-3.jpg", class: "framed-image" %>
				<small>Потайная<br/>молния</small>
			</div>
			<div class="col-1-5">
				<%= image_tag "pages/quality/clasp-4.jpg", class: "framed-image" %>
				<small>Потайная молния украшенная пуговицами</small>
			</div>
		</section>
		<section class="mar-l-20 s-petticoat">
			<div class="col-5-12">
				<h4>Подъюбник</h4>
				<p>В зависимости от модели в платья вшивается несколько дополнительных слоев фатина, чтобы платье было пышнее. Но невеста, которая хочет чтобы у платья был четко выраженный силуэт, всегда может дополнительно заказать подъюбник.</p>
			</div>
			<div class="col-1-2">
				<%= image_tag "pages/quality/petticoat.jpg", class: "framed-image" %>
				<small>Подъюбник</small>
			</div>
		</section>
		<section class="s-ornament">
			<div class="col-1-2">
				<h4>Вышивка</h4>
				<p>Вся вышивка из бисера, стекляруса и кристаллов Сваровски делается вручную.</p>
				<div class="b-slider fotorama" data-width="100%" data-background="#f8f8f8" data-height="617px" data-cropToFit="true">
					<img src="assets/pages/quality/ornaments-1.jpg" alt="">
					<img src="assets/pages/quality/ornaments-2.jpg" alt="">
					<img src="assets/pages/quality/ornaments-3.jpg" alt="">
					<img src="assets/pages/quality/ornaments-4.jpg" alt="">
					<img src="assets/pages/quality/ornaments-5.jpg" alt="">
					<img src="assets/pages/quality/ornaments-6.jpg" alt="">
					<img src="assets/pages/quality/ornaments-7.jpg" alt="">

				</div>
			</div>
			<div class="col-1-2">
				<h4>Украшения</h4>
				<p>Любое платье можно дополнить украшениями из кристаллов. Украсить можно не только пояс платья, но и любые детали на нем.</p>
				<div class="b-slider fotorama" data-width="100%" data-background="#f8f8f8" data-height="617px" data-cropToFit="true">
					<img src="assets/pages/quality/cool-1.jpg" alt="">
					<img src="assets/pages/quality/cool-2.jpg" alt="">
					<img src="assets/pages/quality/cool-3.jpg" alt="">
					<img src="assets/pages/quality/cool-4.jpg" alt="">
					<img src="assets/pages/quality/cool-5.jpg" alt="">
					<img src="assets/pages/quality/cool-6.jpg" alt="">
					<img src="assets/pages/quality/cool-7.jpg" alt="">
					<img src="assets/pages/quality/cool-8.jpg" alt="">
					<img src="assets/pages/quality/cool-9.jpg" alt="">
					<img src="assets/pages/quality/cool-10.jpg" alt="">
					<img src="assets/pages/quality/cool-11.jpg" alt="">
					<img src="assets/pages/quality/cool-12.jpg" alt="">
				</div>
			</div>
		</section>
		<section class="mar-l-25 s-fabric">
			<div class="col-1-2">
				<h4>Ткани и кружева</h4>
				<p>При изготовлении платья, используются материалы высокого качества. Ниже представлены образцы атласа, кружева, шифона, органзы.</p>
			</div>
		</section>
	</div>
	<div class="mover">
		<div class="mover-wrapper">
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-1.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-2.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-3.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-4.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-5.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-6.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-7.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-8.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-9.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-10.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-11.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-12.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-13.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-14.jpg" %>
			</div>
			<div class="item-wrapper">
				<%= image_tag "pages/quality/lace-15.jpg" %>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<%= render 'shared/b-nexter', text: 'Посмотреть все платья' %>
		<%= render 'shared/b-taglines', parent: 'home' %>
	</div>
</article>
<div style="clear:both"></div>
<div class="wrapper">