<%= render 'b-slider' %>
<section class="products-list">
	<%= render 'b-type-chooser' %>
	<%= render @products %>
	<%= render 'shared/b-nexter', :text => "Выбрать свадебное платье" %>
</section>
<%= render 'shared/b-review' %>
<%= render 'shared/b-taglines', :parent => "home" %>
