<%= semantic_form_for [:admin, @product], :html => {:multipart => true} do |f| %>
  <%= f.inputs do%>
    <%= f.input :name %>
    <%= f.input :price, :as => :string %>
    <%= f.input :code %>
    <%= f.input :type_id,   :as => :select,  :collection => Type.find(:all), :include_blank => false %>
    <%= f.input :style_id,   :as => :select,  :collection => Style.find(:all), :include_blank => false %>
  <% end %>

  
  <h3>Images</h3>
  <%= content_tag :div, :class => "images-control"  do %>
    <%= f.semantic_fields_for :attached_images do |ff|%>
      <%= content_tag :div, class: "image"  do %>
        <%= image_tag ff.object.image.url(:thumb5) %>
        <%= ff.input :_destroy, :as => :boolean, :wrapper_html => { :class => "destroy-checkbox" } %>
      <% end %>
    <% end %>
  <% end %>
  <ol>
  <li class="file input optional stringish" id="fileupload">
    <%= label_tag "Upload files"%>
    <%= file_field_tag 'product_attached_images_imag', :multiple => true, :name => "product[attached_images_attributes][][image]", :id => "fileupload" %>
  </li>
  </ol>

  <%= f.actions do %>
    <%= f.action :submit %>
  <% end %>
<% end %>
