<%= semantic_form_for [:admin, @product], :html => {:multipart => true} do |f| %>
  <%= f.inputs do%>
    <%= f.input :name %>
    <%= f.input :price, :as => :string %>
    <%= f.input :code %>
  <% end %>

  
  <h3>Images</h3>
  <%= content_tag :div, :class => "images-control" do %>
    <%= f.semantic_fields_for :attached_images do |ff|%>
      <%= image_tag ff.object.image.url(:thumb5) %>
      <%= ff.input :_destroy, :as => :boolean %>
      
    <% end %>
  <% end %>
  <%= file_field_tag 'product_attached_images_image', :multiple => true, :name => "product[attached_images_attributes][][image]" %>

  <%= f.actions do %>
    <%= f.action :submit %>
  <% end %>
<% end %>
