<div class="b-product">
	<%= link_to "×", admin_product_path(product), :confirm => "Are you sure you want to delete #{product.code}?", :method => :delete, :class => "delete" %>
	<%= link_to edit_admin_product_path(product) do %>
		<%= image_tag product.attached_images.first.image.url(:thumb7) unless product.attached_images.first.nil?%>
		<%= product.code %>
	<% end %>
	<%= content_tag :p, number_to_currency(product.price, :unit => "грн", :precision => 0, :delimiter => " ", :format => "%n %u"), :class => "price" %>
</div>