<%= title "Платья на заказ" %>
<%= description "Мейкмайдресс — место, где вы можете заказть свадебное или вечернее платье в Киеве, сшитое по вашим меркам." %>
<%= render 'b-slider' %>
<%= render 'b-type-chooser' %>
<section class="products-list clr">
	<%= render 'shared/b-styles' %>
	<%= render @products_wedding_dresses, thumb: :thumb5 %>
	<%= render 'shared/b-nexter', :text => "Выбрать свадебное платье", :type => "svadebnyeplatya" %>
</section>
<section class="products-list clr hidden">
	<%= render @products_evening_dresses, thumb: :thumb5 %>
	<%= render 'shared/b-nexter', :text => "Выбрать вечернее платье", :type => "vechernieplatya" %>
</section>
<%= render 'shared/b-reviews' %>
<%= render 'shared/b-taglines', :parent => "home" %>
