<section class="b-product-about">
	<div class="look col-1-2">
		<div class="photo">
			<div class="zoom"></div>
			<%= image_tag @product.attached_images.first.image.url, data: {width: "1200", height: "600"} %>
		</div>
		<div class="thumbs">
			<div class="original">
				<% @product.attached_images.each do |ai| %>
					<div class="thumb">
						<%= image_tag ai.image.url(:thumb_small), data: {width: "1200", height: "600", original: ai.image.url} %>
					</div>
				<% end %>
				<p>Оригинальные фото</p>
			</div>
			<!-- <div class="replica">
				<div class="thumb"></div>
				<div class="thumb"></div>
				<div class="thumb"></div>
				<p>Фото реплик</p>
			</div> -->
		</div>
	</div>
	<div class="about col-1-2">
		<h1>Платье алайн из шифона с длинным шлейфом</h1>
		<p class="code"><%= @product.code %></p>
		<div class="description col-1-2">
			<p>Джинсы клеш с потёртостями. Классические передние карманы, задние карманы — накладные. Фурнитура медного цвета, ширинка на молнии, усиленный пояс на одной пуговице, с кожаным лейблом и прямыми петлями для ремня.</p>
		</div>
		<div class="buy-wrapper col-1-2">
			<%= return_price @product.price %>
			<%= link_to "Заказать", "/", :class => "button sexy-button"  %>
		</div>
	</div>
	<div class="col-1-2">
		<%= render 'shared/b-taglines', :parent => "product-description" %>
	</div>
</section>
<%= render 'shared/b-review' %>
<h4 class="products-header">Похожие платья</h4>
<section class="products-list">
	<%= render @products %>
</section>