<%= title "#{@product.autoname} #{@product.code}" %>
<%= description @product.description %>
<%= render 'shared/b-popup-slider', id: "1", name: "cool", count: 6 %>
<%= render 'shared/b-popup-slider', id: "2", name: "lace", count: 6 %>
<%= render 'shared/b-popup-video',  id: "3", 
																		link: "http://vk.com/video_ext.php?oid=-48549853&id=164940278&hash=2fde509687c138f9&sd", 
																		height: "315", 
																		width: "420" %>
<section class="b-product-about">

	<div class="look col-1-2">
		<%= render 'product_gallery', 
			product: @product,
			images: @images,
			images_original: @images_original,
			images_replica: @images_replica %>
	</div>
	<div class="about col-1-2">
		<h1><%= @product.autoname %><p class="code"><%= @product.code %></p></h1>
		
		<div class="description col-1-2">
			<p><%= @product.description %></p>
		</div>
		<div class="buy-wrapper col-1-2">
			<%= return_price @product.price %>
			<%= link_to "Заказать", new_product_order_path(@product), :class => "button sexy-button"  %>
		</div>
	</div>
	<div class="col-1-2">
		<%= render 'shared/b-taglines', :parent => "product-description" %>
	</div>
</section>
<%= render 'shared/b-reviews' %>
<h4 class="products-header">Похожие платья</h4>
<section class="products-list">
	<%= render @products, thumb: :thumb5 %>
</section>
<div class="clr"></div>