<%= title @product.autoname %>
<div class="b-popup f-q1 hidden">
	<div class="close">×</div>
	<div class="b-slider fotorama" data-width="100%" data-background="#222" data-zoomToFit="false" data-fitToWindowHeight="true" data-fitToWindowHeightMargin="0"> 
		<%= image_tag "pages/quality/cool-1.jpg" %>
		<%= image_tag "pages/quality/cool-2.jpg" %>
		<%= image_tag "pages/quality/cool-3.jpg" %>
		<%= image_tag "pages/quality/cool-4.jpg" %>
		<%= image_tag "pages/quality/cool-5.jpg" %>
		<%= image_tag "pages/quality/cool-6.jpg" %>
	</div>
</div>
<div class="b-popup f-q2 hidden">
	<div class="close">×</div>
	<div class="b-slider fotorama" data-width="100%" data-background="#222" data-zoomToFit="false" data-fitToWindowHeight="true" data-fitToWindowHeightMargin="0"> 
		<%= image_tag "pages/quality/lace-1.jpg" %>
		<%= image_tag "pages/quality/lace-2.jpg" %>
		<%= image_tag "pages/quality/lace-3.jpg" %>
		<%= image_tag "pages/quality/lace-4.jpg" %>
		<%= image_tag "pages/quality/lace-5.jpg" %>
		<%= image_tag "pages/quality/lace-6.jpg" %>
	</div>
</div>
<div class="b-popup f-q3 hidden">
	<div class="close">×</div>
		<div class="video-frame"><iframe src="http://vk.com/video_ext.php?oid=-48549853&id=164940278&hash=2fde509687c138f9&sd" width="420" height="315" frameborder="0"></iframe></div>
</div>
<section class="b-product-about">

	<div class="look col-1-2">
		<%= render 'product_gallery', 
			product: @product,
			images_original: @images_original,
			images_replica: @images_replica %>
	</div>
	<div class="about col-1-2">
		<h1><%= @product.autoname %></h1>
		<p class="code"><%= @product.code %></p>
		<div class="description col-1-2">
			<p><%= @product.description %></p>
		</div>
		<div class="buy-wrapper col-1-2">
			<%= return_price @product.price %>
			<%= link_to "Заказать", new_product_order_path(@product), :class => "button sexy-button"  %>
		</div>
	</div>
	<div class="col-1-2">
		<%= render 'shared/b-taglines', :parent => "product-description" %>
	</div>
</section>
<%= render 'shared/b-review' %>
<h4 class="products-header">Похожие платья</h4>
<section class="products-list">
	<%= render @products %>
</section>
<div class="clr"></div>