<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="description" content="<%= yield(:meta_description) %>" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script>
  document.createElement('header');
  document.createElement('nav');
  document.createElement('section');
  document.createElement('article');
  document.createElement('aside');
  document.createElement('footer');
  document.createElement('hgroup');
  </script>
  <![endif]--> 
</head>
<body class=<%= p("admin") if is_loggedin %>>
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash-#{name}", :class => "flash-message" %>
	<% end %>
	<%= render 'admin/layouts/header' if is_loggedin %>
	<%= render 'shared/b-header' %>
	<%= yield %>
	<%= render 'shared/b-footer' %>
</body>
</html>
